/*
 * Copyright (c) 2021 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

#include <zephyr/dt-bindings/ipc_service/static_vrings.h>

/ {
	zephyr,user {
		battery-charge-gpios = <&gpio1 0 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
	};

	pwmbuzzer {
		compatible = "pwm-leds";
		status = "okay";

		buzzer: buzzer_pwm {
			pwms = <&pwm1 0 PWM_HZ(100) PWM_POLARITY_NORMAL>;
			label = "PWM_1";
		};
	};

	aliases {
		buzzer-pwm = &buzzer;
	};
};

/* Set IPC thread priority to the highest value to not collide with other threads. */
&ipc0 {
	zephyr,priority = <0 PRIO_COOP>;
};

&i2c1 {
	bme680: bme688@76 {
		compatible = "bosch,bme680";
		reg = <0x76>;
	};
};

&adc {
	#address-cells = <1>;
	#size-cells = <0>;

	channel@2 {
		reg = <2>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_MICROSECONDS, 40)>;
		zephyr,input-positive = <NRF_SAADC_AIN2>;
		zephyr,resolution = <12>;
		zephyr,oversampling = <4>;
	};
};

/* Disable unused peripherals to reduce power consumption */
&pwm0 {
	status = "disabled";
};

&pwm2 {
	status = "disabled";
};

/* Reduce SRAM0 usage by 7360 B to account for non-init area */
&sram0 {
	reg = <0x20000000 0x7e340>;
};


&edge_connector_spi {
	status = "okay";

	nrf70: nrf7002@0 {
		compatible = "nordic,nrf7002-spi";
		status = "okay";
		reg = <0>;
		spi-max-frequency = <DT_FREQ_M(16)>;

		bucken-gpios = <&edge_connector 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
		iovdd-ctrl-gpios = <&edge_connector 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
		host-irq-gpios = <&edge_connector 19 GPIO_ACTIVE_HIGH>;
		srrf-switch-gpios = <&gpio1 13 GPIO_ACTIVE_HIGH>;

		wlan0: wlan0 {
			compatible = "nordic,wlan";
		};

		wlan1: wlan1 {
			compatible = "nordic,wlan";
		};

		wifi-max-tx-pwr-2g-dsss = <21>;
		wifi-max-tx-pwr-2g-mcs0 = <16>;
		wifi-max-tx-pwr-2g-mcs7 = <16>;
		wifi-max-tx-pwr-5g-low-mcs0 = <13>;
		wifi-max-tx-pwr-5g-low-mcs7 = <13>;
		wifi-max-tx-pwr-5g-mid-mcs0 = <13>;
		wifi-max-tx-pwr-5g-mid-mcs7 = <13>;
		wifi-max-tx-pwr-5g-high-mcs0 = <12>;
		wifi-max-tx-pwr-5g-high-mcs7 = <12>;
	};
};
